<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .error-img {
        background-image: url(/images/dribbble.gif);
        width: 500px;
        height: 400px;
        background-position: center;
      }
    </style>
  </head>
  <!-- <body>
    <div class="container">
      <div class="error-img">
        <h3>Oops...</h3>
        <p>Error Message: </p>
        <span style="color: red;" th:text="${errorMessage}"></span>
      </div>
    </div>
  </body> -->
</html>
